In [1]:
import requests

In [2]:
url = "https://api.exchangerate-api.com/v4/latest/usd"

In [3]:
response = requests.get(url)

In [4]:
response

In [5]:
data = response.json()

data

{'provider': 'https://www.exchangerate-api.com',
 'WARNING_UPGRADE_TO_V6': 'https://www.exchangerate-api.com/docs/free',
 'terms': 'https://www.exchangerate-api.com/terms',
 'base': 'USD',
 'date': '2023-10-29',
 'time_last_updated': 1698537601,
 'rates': {'USD': 1,
  'AED': 3.67,
  'AFN': 74.44,
  'ALL': 100.15,
  'AMD': 401.94,
  'ANG': 1.79,
  'AOA': 832.67,
  'ARS': 350.01,
  'AUD': 1.58,
  'AWG': 1.79,
  'AZN': 1.7,
  'BAM': 1.85,
  'BBD': 2,
  'BDT': 110.23,
  'BGN': 1.85,
  'BHD': 0.376,
  'BIF': 2828.14,
  'BMD': 1,
  'BND': 1.37,
  'BOB': 6.92,
  'BRL': 4.99,
  'BSD': 1,
  'BTN': 83.3,
  'BWP': 13.79,
  'BYN': 3.28,
  'BZD': 2,
  'CAD': 1.38,
  'CDF': 2559.42,
  'CHF': 0.902,
  'CLP': 931.44,
  'CNY': 7.32,
  'COP': 4190.44,
  'CRC': 531.06,
  'CUP': 24,
  'CVE': 104.38,
  'CZK': 23.33,
  'DJF': 177.72,
  'DKK': 7.06,
  'DOP': 56.82,
  'DZD': 136.86,
  'EGP': 30.9,
  'ERN': 15,
  'ETB': 55.76,
  'EUR': 0.947,
  'FJD': 2.28,
  'FKP': 0.824,
  'FOK': 7.06,
  'GBP': 0.824,
  'GEL': 2.7,
  'GGP': 0.824,
  'GHS': 11.97,
  'GIP': 0.824,
  'GMD': 64.72,
  'GNF': 8588.63,
  'GTQ': 7.84,
  'GYD': 209.05,
  'HKD': 7.82,
  'HNL': 24.68,
  'HRK': 7.13,
  'HTG': 133.33,
  'HUF': 362.55,
  'IDR': 15927.96,
  'ILS': 4.07,
  'IMP': 0.824,
  'INR': 83.3,
  'IQD': 1308.62,
  'IRR': 41944.63,
  'ISK': 139.61,
  'JEP': 0.824,
  'JMD': 155.37,
  'JOD': 0.709,
  'JPY': 149.82,
  'KES': 150.68,
  'KGS': 88.96,
  'KHR': 4125.15,
  'KID': 1.58,
  'KMF': 465.71,
  'KRW': 1355.56,
  'KWD': 0.309,
  'KYD': 0.833,
  'KZT': 472.12,
  'LAK': 20649.37,
  'LBP': 15000,
  'LKR': 326.77,
  'LRD': 190.77,
  'LSL': 18.84,
  'LYD': 4.88,
  'MAD': 10.27,
  'MDL': 18.13,
  'MGA': 4528.57,
  'MKD': 58.32,
  'MMK': 2100.14,
  'MNT': 3476.21,
  'MOP': 8.06,
  'MRU': 38.76,
  'MUR': 44.25,
  'MVR': 15.44,
  'MWK': 1162.79,
  'MXN': 18.11,
  'MYR': 4.78,
  'MZN': 63.86,
  'NAD': 18.84,
  'NGN': 797.24,
  'NIO': 36.58,
  'NOK': 11.18,
  'NPR': 133.28,
  'NZD': 1.72,
  'OMR': 0.384,
  'PAB': 1,
  'PEN': 3.86,
  'PGK': 3.71,
  'PHP': 56.96,
  'PKR': 280.16,
  'PLN': 4.22,
  'PYG': 7390.86,
  'QAR': 3.64,
  'RON': 4.7,
  'RSD': 110.77,
  'RUB': 93.64,
  'RWF': 1262.09,
  'SAR': 3.75,
  'SBD': 8.48,
  'SCR': 13.52,
  'SDG': 581.07,
  'SEK': 11.16,
  'SGD': 1.37,
  'SHP': 0.824,
  'SLE': 22.66,
  'SLL': 22656.12,
  'SOS': 570.88,
  'SRD': 38.17,
  'SSP': 1037.82,
  'STN': 23.19,
  'SYP': 12935.46,
  'SZL': 18.84,
  'THB': 36.19,
  'TJS': 10.94,
  'TMT': 3.5,
  'TND': 3.17,
  'TOP': 2.38,
  'TRY': 28.22,
  'TTD': 6.76,
  'TVD': 1.58,
  'TWD': 32.42,
  'TZS': 2495.93,
  'UAH': 36.44,
  'UGX': 3770.78,
  'UYU': 39.87,
  'UZS': 12194.79,
  'VES': 35.13,
  'VND': 24566.45,
  'VUV': 122.47,
  'WST': 2.79,
  'XAF': 620.95,
  'XCD': 2.7,
  'XDR': 0.763,
  'XOF': 620.95,
  'XPF': 112.96,
  'YER': 250.11,
  'ZAR': 18.85,
  'ZMW': 21.9,
  'ZWL': 5693.21}}

In [7]:
data["rates"]["PKR"]

280.16

In [8]:
data["rates"]

{'USD': 1,
 'AED': 3.67,
 'AFN': 74.44,
 'ALL': 100.15,
 'AMD': 401.94,
 'ANG': 1.79,
 'AOA': 832.67,
 'ARS': 350.01,
 'AUD': 1.58,
 'AWG': 1.79,
 'AZN': 1.7,
 'BAM': 1.85,
 'BBD': 2,
 'BDT': 110.23,
 'BGN': 1.85,
 'BHD': 0.376,
 'BIF': 2828.14,
 'BMD': 1,
 'BND': 1.37,
 'BOB': 6.92,
 'BRL': 4.99,
 'BSD': 1,
 'BTN': 83.3,
 'BWP': 13.79,
 'BYN': 3.28,
 'BZD': 2,
 'CAD': 1.38,
 'CDF': 2559.42,
 'CHF': 0.902,
 'CLP': 931.44,
 'CNY': 7.32,
 'COP': 4190.44,
 'CRC': 531.06,
 'CUP': 24,
 'CVE': 104.38,
 'CZK': 23.33,
 'DJF': 177.72,
 'DKK': 7.06,
 'DOP': 56.82,
 'DZD': 136.86,
 'EGP': 30.9,
 'ERN': 15,
 'ETB': 55.76,
 'EUR': 0.947,
 'FJD': 2.28,
 'FKP': 0.824,
 'FOK': 7.06,
 'GBP': 0.824,
 'GEL': 2.7,
 'GGP': 0.824,
 'GHS': 11.97,
 'GIP': 0.824,
 'GMD': 64.72,
 'GNF': 8588.63,
 'GTQ': 7.84,
 'GYD': 209.05,
 'HKD': 7.82,
 'HNL': 24.68,
 'HRK': 7.13,
 'HTG': 133.33,
 'HUF': 362.55,
 'IDR': 15927.96,
 'ILS': 4.07,
 'IMP': 0.824,
 'INR': 83.3,
 'IQD': 1308.62,
 'IRR': 41944.63,
 'ISK': 139.61,
 'JEP': 0.824,
 'JMD': 155.37,
 'JOD': 0.709,
 'JPY': 149.82,
 'KES': 150.68,
 'KGS': 88.96,
 'KHR': 4125.15,
 'KID': 1.58,
 'KMF': 465.71,
 'KRW': 1355.56,
 'KWD': 0.309,
 'KYD': 0.833,
 'KZT': 472.12,
 'LAK': 20649.37,
 'LBP': 15000,
 'LKR': 326.77,
 'LRD': 190.77,
 'LSL': 18.84,
 'LYD': 4.88,
 'MAD': 10.27,
 'MDL': 18.13,
 'MGA': 4528.57,
 'MKD': 58.32,
 'MMK': 2100.14,
 'MNT': 3476.21,
 'MOP': 8.06,
 'MRU': 38.76,
 'MUR': 44.25,
 'MVR': 15.44,
 'MWK': 1162.79,
 'MXN': 18.11,
 'MYR': 4.78,
 'MZN': 63.86,
 'NAD': 18.84,
 'NGN': 797.24,
 'NIO': 36.58,
 'NOK': 11.18,
 'NPR': 133.28,
 'NZD': 1.72,
 'OMR': 0.384,
 'PAB': 1,
 'PEN': 3.86,
 'PGK': 3.71,
 'PHP': 56.96,
 'PKR': 280.16,
 'PLN': 4.22,
 'PYG': 7390.86,
 'QAR': 3.64,
 'RON': 4.7,
 'RSD': 110.77,
 'RUB': 93.64,
 'RWF': 1262.09,
 'SAR': 3.75,
 'SBD': 8.48,
 'SCR': 13.52,
 'SDG': 581.07,
 'SEK': 11.16,
 'SGD': 1.37,
 'SHP': 0.824,
 'SLE': 22.66,
 'SLL': 22656.12,
 'SOS': 570.88,
 'SRD': 38.17,
 'SSP': 1037.82,
 'STN': 23.19,
 'SYP': 12935.46,
 'SZL': 18.84,
 'THB': 36.19,
 'TJS': 10.94,
 'TMT': 3.5,
 'TND': 3.17,
 'TOP': 2.38,
 'TRY': 28.22,
 'TTD': 6.76,
 'TVD': 1.58,
 'TWD': 32.42,
 'TZS': 2495.93,
 'UAH': 36.44,
 'UGX': 3770.78,
 'UYU': 39.87,
 'UZS': 12194.79,
 'VES': 35.13,
 'VND': 24566.45,
 'VUV': 122.47,
 'WST': 2.79,
 'XAF': 620.95,
 'XCD': 2.7,
 'XDR': 0.763,
 'XOF': 620.95,
 'XPF': 112.96,
 'YER': 250.11,
 'ZAR': 18.85,
 'ZMW': 21.9,
 'ZWL': 5693.21}

In [9]:
def weakest_cur(url): # Parameter
    data = requests.get(url).json()
    weekest_rates = 0
    currency_code = ""
    
    rates = data["rates"] # dictionary
    
    for country_code in rates:
        exc_rate = rates[country_code]
        if exc_rate > weekest_rates:
            weekest_rates= exc_rate
            currency_code = country_code
            
    return country_code

In [10]:
weakest_cur(url) # url argumnet

'ZWL'

In [11]:
data["rates"][weakest_cur(url)]

5693.21

In [12]:
usd_api_data = data

In [13]:
weakest_rates = 0
weakest_cou_code = ""

rates = data["rates"]

rates

{'USD': 1,
 'AED': 3.67,
 'AFN': 74.44,
 'ALL': 100.15,
 'AMD': 401.94,
 'ANG': 1.79,
 'AOA': 832.67,
 'ARS': 350.01,
 'AUD': 1.58,
 'AWG': 1.79,
 'AZN': 1.7,
 'BAM': 1.85,
 'BBD': 2,
 'BDT': 110.23,
 'BGN': 1.85,
 'BHD': 0.376,
 'BIF': 2828.14,
 'BMD': 1,
 'BND': 1.37,
 'BOB': 6.92,
 'BRL': 4.99,
 'BSD': 1,
 'BTN': 83.3,
 'BWP': 13.79,
 'BYN': 3.28,
 'BZD': 2,
 'CAD': 1.38,
 'CDF': 2559.42,
 'CHF': 0.902,
 'CLP': 931.44,
 'CNY': 7.32,
 'COP': 4190.44,
 'CRC': 531.06,
 'CUP': 24,
 'CVE': 104.38,
 'CZK': 23.33,
 'DJF': 177.72,
 'DKK': 7.06,
 'DOP': 56.82,
 'DZD': 136.86,
 'EGP': 30.9,
 'ERN': 15,
 'ETB': 55.76,
 'EUR': 0.947,
 'FJD': 2.28,
 'FKP': 0.824,
 'FOK': 7.06,
 'GBP': 0.824,
 'GEL': 2.7,
 'GGP': 0.824,
 'GHS': 11.97,
 'GIP': 0.824,
 'GMD': 64.72,
 'GNF': 8588.63,
 'GTQ': 7.84,
 'GYD': 209.05,
 'HKD': 7.82,
 'HNL': 24.68,
 'HRK': 7.13,
 'HTG': 133.33,
 'HUF': 362.55,
 'IDR': 15927.96,
 'ILS': 4.07,
 'IMP': 0.824,
 'INR': 83.3,
 'IQD': 1308.62,
 'IRR': 41944.63,
 'ISK': 139.61,
 'JEP': 0.824,
 'JMD': 155.37,
 'JOD': 0.709,
 'JPY': 149.82,
 'KES': 150.68,
 'KGS': 88.96,
 'KHR': 4125.15,
 'KID': 1.58,
 'KMF': 465.71,
 'KRW': 1355.56,
 'KWD': 0.309,
 'KYD': 0.833,
 'KZT': 472.12,
 'LAK': 20649.37,
 'LBP': 15000,
 'LKR': 326.77,
 'LRD': 190.77,
 'LSL': 18.84,
 'LYD': 4.88,
 'MAD': 10.27,
 'MDL': 18.13,
 'MGA': 4528.57,
 'MKD': 58.32,
 'MMK': 2100.14,
 'MNT': 3476.21,
 'MOP': 8.06,
 'MRU': 38.76,
 'MUR': 44.25,
 'MVR': 15.44,
 'MWK': 1162.79,
 'MXN': 18.11,
 'MYR': 4.78,
 'MZN': 63.86,
 'NAD': 18.84,
 'NGN': 797.24,
 'NIO': 36.58,
 'NOK': 11.18,
 'NPR': 133.28,
 'NZD': 1.72,
 'OMR': 0.384,
 'PAB': 1,
 'PEN': 3.86,
 'PGK': 3.71,
 'PHP': 56.96,
 'PKR': 280.16,
 'PLN': 4.22,
 'PYG': 7390.86,
 'QAR': 3.64,
 'RON': 4.7,
 'RSD': 110.77,
 'RUB': 93.64,
 'RWF': 1262.09,
 'SAR': 3.75,
 'SBD': 8.48,
 'SCR': 13.52,
 'SDG': 581.07,
 'SEK': 11.16,
 'SGD': 1.37,
 'SHP': 0.824,
 'SLE': 22.66,
 'SLL': 22656.12,
 'SOS': 570.88,
 'SRD': 38.17,
 'SSP': 1037.82,
 'STN': 23.19,
 'SYP': 12935.46,
 'SZL': 18.84,
 'THB': 36.19,
 'TJS': 10.94,
 'TMT': 3.5,
 'TND': 3.17,
 'TOP': 2.38,
 'TRY': 28.22,
 'TTD': 6.76,
 'TVD': 1.58,
 'TWD': 32.42,
 'TZS': 2495.93,
 'UAH': 36.44,
 'UGX': 3770.78,
 'UYU': 39.87,
 'UZS': 12194.79,
 'VES': 35.13,
 'VND': 24566.45,
 'VUV': 122.47,
 'WST': 2.79,
 'XAF': 620.95,
 'XCD': 2.7,
 'XDR': 0.763,
 'XOF': 620.95,
 'XPF': 112.96,
 'YER': 250.11,
 'ZAR': 18.85,
 'ZMW': 21.9,
 'ZWL': 5693.21}

In [15]:
a = 1,2,
a

(1, 2)

In [16]:
a,b = 1,2,
a

1

In [17]:
b

2

In [14]:
rates.items()

dict_items([('USD', 1), ('AED', 3.67), ('AFN', 74.44), ('ALL', 100.15), ('AMD', 401.94), ('ANG', 1.79), ('AOA', 832.67), ('ARS', 350.01), ('AUD', 1.58), ('AWG', 1.79), ('AZN', 1.7), ('BAM', 1.85), ('BBD', 2), ('BDT', 110.23), ('BGN', 1.85), ('BHD', 0.376), ('BIF', 2828.14), ('BMD', 1), ('BND', 1.37), ('BOB', 6.92), ('BRL', 4.99), ('BSD', 1), ('BTN', 83.3), ('BWP', 13.79), ('BYN', 3.28), ('BZD', 2), ('CAD', 1.38), ('CDF', 2559.42), ('CHF', 0.902), ('CLP', 931.44), ('CNY', 7.32), ('COP', 4190.44), ('CRC', 531.06), ('CUP', 24), ('CVE', 104.38), ('CZK', 23.33), ('DJF', 177.72), ('DKK', 7.06), ('DOP', 56.82), ('DZD', 136.86), ('EGP', 30.9), ('ERN', 15), ('ETB', 55.76), ('EUR', 0.947), ('FJD', 2.28), ('FKP', 0.824), ('FOK', 7.06), ('GBP', 0.824), ('GEL', 2.7), ('GGP', 0.824), ('GHS', 11.97), ('GIP', 0.824), ('GMD', 64.72), ('GNF', 8588.63), ('GTQ', 7.84), ('GYD', 209.05), ('HKD', 7.82), ('HNL', 24.68), ('HRK', 7.13), ('HTG', 133.33), ('HUF', 362.55), ('IDR', 15927.96), ('ILS', 4.07), ('IMP', 0.824), ('INR', 83.3), ('IQD', 1308.62), ('IRR', 41944.63), ('ISK', 139.61), ('JEP', 0.824), ('JMD', 155.37), ('JOD', 0.709), ('JPY', 149.82), ('KES', 150.68), ('KGS', 88.96), ('KHR', 4125.15), ('KID', 1.58), ('KMF', 465.71), ('KRW', 1355.56), ('KWD', 0.309), ('KYD', 0.833), ('KZT', 472.12), ('LAK', 20649.37), ('LBP', 15000), ('LKR', 326.77), ('LRD', 190.77), ('LSL', 18.84), ('LYD', 4.88), ('MAD', 10.27), ('MDL', 18.13), ('MGA', 4528.57), ('MKD', 58.32), ('MMK', 2100.14), ('MNT', 3476.21), ('MOP', 8.06), ('MRU', 38.76), ('MUR', 44.25), ('MVR', 15.44), ('MWK', 1162.79), ('MXN', 18.11), ('MYR', 4.78), ('MZN', 63.86), ('NAD', 18.84), ('NGN', 797.24), ('NIO', 36.58), ('NOK', 11.18), ('NPR', 133.28), ('NZD', 1.72), ('OMR', 0.384), ('PAB', 1), ('PEN', 3.86), ('PGK', 3.71), ('PHP', 56.96), ('PKR', 280.16), ('PLN', 4.22), ('PYG', 7390.86), ('QAR', 3.64), ('RON', 4.7), ('RSD', 110.77), ('RUB', 93.64), ('RWF', 1262.09), ('SAR', 3.75), ('SBD', 8.48), ('SCR', 13.52), ('SDG', 581.07), ('SEK', 11.16), ('SGD', 1.37), ('SHP', 0.824), ('SLE', 22.66), ('SLL', 22656.12), ('SOS', 570.88), ('SRD', 38.17), ('SSP', 1037.82), ('STN', 23.19), ('SYP', 12935.46), ('SZL', 18.84), ('THB', 36.19), ('TJS', 10.94), ('TMT', 3.5), ('TND', 3.17), ('TOP', 2.38), ('TRY', 28.22), ('TTD', 6.76), ('TVD', 1.58), ('TWD', 32.42), ('TZS', 2495.93), ('UAH', 36.44), ('UGX', 3770.78), ('UYU', 39.87), ('UZS', 12194.79), ('VES', 35.13), ('VND', 24566.45), ('VUV', 122.47), ('WST', 2.79), ('XAF', 620.95), ('XCD', 2.7), ('XDR', 0.763), ('XOF', 620.95), ('XPF', 112.96), ('YER', 250.11), ('ZAR', 18.85), ('ZMW', 21.9), ('ZWL', 5693.21)])

In [18]:
weakest_rates = 0
weakest_cou_code = ""

rates = data["rates"]


for count_code, exch  in rates.items():
    
    if weakest_rates < exch:
    
        weakest_rates = exch
        weakest_cou_code = count_code

In [19]:
weakest_rates

41944.63

In [20]:
weakest_cou_code

'IRR'

In [21]:
l = [250,290,2,780,521,222,349,]

In [22]:
max(l)

780

In [24]:
max(rates)

'ZWL'

In [25]:
rates["ZWL"]

5693.21

In [27]:
max(rates.values())

41944.63

In [29]:
max(rates, key = rates.get)

'IRR'

In [30]:
rates.get("IRR")

41944.63

In [32]:
rates.get("ABC")

In [34]:
rates.get("ABC",  "That exchange rate is not available")

'That exchange rate is not available'

In [35]:
rates["ABC"]

KeyError: 'ABC'

In [36]:
func = sum

In [37]:
func([1,2,3,4,5])

15

In [38]:
value = 0
k = ""

for key in rates:
    if rates[key] > value:
        value = rates[key]
        k = key

In [39]:
k

'IRR'

In [40]:
def addition(a,b): # a and b are parameters
    add = a+b
    return add

In [42]:
addition(59,11) # 59 and 11 arguments -> Positional Argument(s)

70

# Argument(s)

* Positional Argument(s)
* Named Argument(s) or keyword argument(s)

In [43]:
def substraction(a,b): # a and b are parameters  -> Headers
    sub = a-b # -----> Body
    return sub # Return Statement

In [44]:
substraction(59,11)

48

In [45]:
substraction(11,59)

-48

In [46]:
substraction(a = 59, b = 11)

48

In [47]:
substraction(b = 11 , a = 59 )

48

In [48]:
dict(a=2, b= 5)

{'a': 2, 'b': 5}

In [ ]:
# default argument

In [49]:
def tax_cal(salary, tax_rate):
    tax_value = salary*tax_rate
    return tax_value

In [50]:
tax_cal(100000, 0.05)

5000.0

In [51]:
def tax_cal(salary, tax_rate = 0.05): # default argument
    tax_value = salary*tax_rate
    return tax_value

In [52]:
addition(11)

TypeError: addition() missing 1 required positional argument: 'b'

In [53]:
tax_cal(100000)

5000.0

In [55]:
tax_cal(100000,0.06)

6000.0

In [ ]:
# Multiple return statment


def add_subs(a, b):
    add = a + b
    sub = a-b
    
    return

In [56]:
def add_subs(a, b, addition = True):
    add = a + b
    sub = a-b
    
    if addition:
        return add
    else:
        return sub

In [57]:
add_subs(59,21)

80

In [58]:
add_subs(59,21, False)

38

In [59]:
add_subs(addition = False, a= 59,b = 21, )

38

In [60]:
add_subs(59, addition = False, b = 21 )

38

In [61]:
add_subs(addition = False, b = 21, 59 )

SyntaxError: positional argument follows keyword argument (683272963.py, line 1)

In [63]:
# Return Multiple values

def add_subs(a, b, addition = True):
    add = a + b
    sub = a-b
    
    return add,sub

In [64]:
add_subs(59,11)

(70, 48)

In [65]:
add, sub = add_subs(59,11)

In [66]:
add

70

In [67]:
def taxation(salary):
    tax_rate = 0.05
    return salary*tax_rate

In [68]:
taxation(200000)

10000.0

In [69]:
print(tax_rate)

NameError: name 'tax_rate' is not defined

# Scope

* Any variable is defined in function, is in a local scope

* Any variable is defined in main program, is in a global scope

In [ ]:
num = 29

In [ ]:
num = 25

In [71]:
tax_rate = 0.06

In [72]:
taxation(200000)

10000.0

# Lambda Function

* map
* filter

In [73]:
l

[250, 290, 2, 780, 521, 222, 349]

In [74]:
l_double = []



for i in l:
    ans = i*2
    l_double.append(ans)

In [75]:
l_double

[500, 580, 4, 1560, 1042, 444, 698]

In [76]:
alpha = ["ABC", "EFGH", "IJKLM", "N", "OPQ"]

In [77]:
len(alpha)

5

In [78]:
len_ele = []


for i in alpha:
    length = len(i)
    len_ele.append(length)

In [79]:
len_ele

[3, 4, 5, 1, 3]

In [80]:
map(len, alpha)

In [81]:
list(map(len, alpha))

[3, 4, 5, 1, 3]

In [83]:
def mul(i):
    return i*2

In [84]:
list(map(mul, l))

[500, 580, 4, 1560, 1042, 444, 698]

In [85]:
list(map(lambda i: i*2 , l))

[500, 580, 4, 1560, 1042, 444, 698]

In [87]:
l

[250, 290, 2, 780, 521, 222, 349]

In [88]:
list(filter(lambda i: i>300 , l))

[780, 521, 349]